// created by liangshaofeng on 2016年4月29日
// 仓库搜索结果列表
@import '../../mixin/var';

.repo-list-container {
  float: left;
  width: 20%;
  height: 100%;
  overflow: auto;
  background-color: #f5f4f3;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      border-bottom: 1px solid #e2e1e0;
      height: 50px;
      padding: 10px 5px;
      text-align: center;
      cursor: pointer;
      transition: all 300ms;

      &:hover {
        background-color: darken(#f5f4f3, 10%);
      }
    }
  }
}

