@import './var';

* {
  box-sizing: border-box;
}

.clear-fix {
  zoom: 1;

  &::after {
    display: table;
    clear: both;
    content: '';
  }
}

input {
  outline: none;
}

input:focus {
  border: 1px solid #51a7e8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
}

input.error {
  border-color: #f50;
  box-shadow: 0 0 0 2px #fdc;
}

.welcome-container {
  position: absolute;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  height: 200px;
  text-align: center;
  animation: welcome-title 300ms ease-in;

  h1 {
    margin: 20px 0;
  }

  h2 {
    margin: 15px 0;
  }

  .input-your-user-name {
    width: 25%;
    height: 30px;
    text-align: center;
    font-size: 25px;
  }

  .anticon-loading {
    font-size: 25px;
  }
}

@keyframes welcome-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.index-container {
  height: 670px;
  overflow: hidden;
}

.top-area-container {
  background-color: #d4d2d4;
}

.classify-nav-container {
  float: left;
  width: 10%;
  height: 100%;
  background-color: #5a6060;
  color: #d5dde4;
}

// 右侧详情
.repo-detail-container {
  float: left;
  width: 70%;
  height: 100%;
}